<% content_for :title do %>
    Live Feed
<% end %>


<% content_for :page_top do %>

    <%= form_tag dashboard_search_path do %>

        <div class="filter-field field">
        <%= select_tag 'filter', options_from_collection_for_select(@filter_options, :first, :last) %>
        </div>

    <% end %>
<% end %>

<% content_for :page_caption do %>
    Feed
<% end %>

<% content_for :sidebar_second do %>
    <h3>View all activity from your employees with the live feed.</h3>

    <p>You can filter the live feed to show only what you are looking for.</p>
<% end %>



<%= javascript_include_tag 'dashboard/feed' %>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script type="text/javascript">
    var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
    var channel = pusher.subscribe('agency_<%= @agency.id %>');
    channel.bind('new activity stream', function(data) {
        $('#activity-stream-wrapper').attr('data-newest-item', data.id);

        var stream_item = $(data.rendered);
        $('#activity-stream-wrapper .items').prepend(stream_item);
        stream_item.fadeIn();
    });
</script>




<%

   if @more_items
     more_items_css = "display:inline"
   else
     more_items_css = "display:none"
   end

%>

<div id="activity-stream-wrapper" data-oldest-item="<%= @oldest_item_id %>" data-newest-item="<%= @newest_item_id %>">
  <div class="items">

    <% @activity_streams.each do |item| %>
        <%= render 'shared/row_activity_stream', :item => item, :css_class => 'html' %>
    <% end %>
  </div>
</div>
