<% content_for :title do %>
    Live Feed
<% end %>


<% content_for :page_top do %>

    <%= form_tag dashboard_search_path do %>

        <div class="filter-field field">
        <%= select_tag 'filter', options_from_collection_for_select(@filter_options, :first, :last) %>
        </div>

        <div class="search-field field">
            <%= text_field_tag 'search', '', :placeholder => 'search the live feed...' %>
        </div>
        <div class="submit-button field">
          <%= image_submit_tag 'search-go-btn.png' %>
        </div>
    <% end %>
<% end %>

<% content_for :page_caption do %>
    Feed
<% end %>

<% content_for :sidebar_second do %>
    <h3>View all activity from your employees with the live feed.</h3>

    <p>You can filter the live feed to show only what you are looking for, or search the whole live feed for something specific with our search tool.</p>
<% end %>

<%

   if @more_items
     more_items_css = "display:inline"
   else
     more_items_css = "display:none"
   end

%>

<%= javascript_include_tag 'dashboard/home' %>
<div id="activity-stream-wrapper" data-oldest-item="<%= @oldest_item_id %>" data-newest-item="<%= @newest_item_id %>">
  <div class="items">

    <% @activity_streams.each do |item| %>
        <%= render 'shared/row_activity_stream', :item => item, :css_class => 'html' %>
    <% end %>
  </div>
  <%= link_to 'older items', 'javascript:void(0)', :id => 'more-items-link', :style => more_items_css %>
</div>
