<% content_for :title do %>
    Reset Password for <%=@employee.full_name %>
    <% end %>

<%= form_for @employee, :url => dashboard_employees_reset_password_path(@employee), :method => :post do |f| %>

    <div class="form-field">
      <div class="label">
        <%= f.label :password %>
      </div>
      <div class="field">
        <%= f.password_field :password, :size => 20 %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= f.label :confirm_password %>
      </div>
      <div class="field">
        <%= f.password_field :confirm_password, :size => 20 %>
      </div>
    </div>


    <%= f.submit 'Save Changes' %>

<% end %>