<%= content_for :page_caption do %>
    Credit Card Details
<% end %>


<%= form_tag dashboard_settings_agency_credit_cards_path, :id => 'credit-card-form' do |f| %>

    <%= hidden_field_tag 'credit_card[customer_id]', @agency.braintree_customer_id %>

    <div class="form-field required">
      <div class="label">
        <%= label_tag 'credit_card[number]', 'Credit Card Number' %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= text_field_tag 'credit_card[number]' %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= label_tag 'credit_card[cardholder_name]', 'Name on Card' %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= text_field_tag 'credit_card[cardholder_name]'  %>
      </div>
    </div>

    <div class="form-field expiration required">
      <div class="label">
        <%= label_tag 'credit_card[expiration_month]', 'Expiration' %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= select_month Date.today %>
        <%= select_year  Date.today, :start_year => Date.today.year  %>
      </div>
    </div>

    <%= render 'dashboard/shared/page_caption', :caption => 'Billing Address' %>

    <div class="address">


      <div class="row">

        <div class="form-field required">
          <div class="label">
            <%= label_tag 'credit_card[billing_address][street_address]', 'Address' %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= text_field_tag 'credit_card[billing_address][street_address]' %>
          </div>
        </div>

        <div class="form-field required">
          <div class="label">
            <%= label_tag 'credit_card[billing_address][extended_address]', 'Address Line 2' %>
          </div>
          <div class="field">
            <%= text_field_tag 'credit_card[billing_address][extended_address]' %>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-field required">
          <div class="label">
            <%= label_tag 'credit_card[billing_address][locality]', 'City' %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= text_field_tag 'credit_card[billing_address][locality]' %>
          </div>
        </div>

        <div class="form-field required">
          <div class="label">
            <%= label_tag 'credit_card[billing_address][region]', 'State/Province' %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= text_field_tag 'credit_card[billing_address][region]', '', :maxlength => 3, :size => 3 %>
          </div>
        </div>

        <div class="form-field required">
          <div class="label">
            <%= label_tag 'credit_card[billing_address][postal_code]', 'Postal Code' %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= text_field_tag 'credit_card[billing_address][postal_code]' %>
          </div>
        </div>

      </div>

      <div class="form-field required">
        <div class="field">
          <%= check_box_tag 'credit_card[options][make_default]' %>
          <%= label_tag 'credit_card[default]', 'Make this the default credit card on file' %>
        </div>
      </div>

      <%= submit_tag 'Save Credit Card' %>


    </div>


<% end %>
