<% content_for :page_top do %>
    <%= render 'dashboard/settings/shared/agency_summary', :agency => @agency %>

<% end %>

<%= form_tag dashboard_settings_users_upgrade_path, :method => :post do %>

    <p>
      <% if @agency.free_users > 0 %>
          Your account currently has <%= pluralize @agency.allowed_users, 'user', 'users' %>, including <%= pluralize @agency.free_users, 'free user', 'free users' %>.
      <% else %>
          Your account currently has <%= pluralize @agency.allowed_users, 'user', 'users' %>.
      <% end %>
    </p>

    <h3 class="highlight">Choose Number of Users to Add</h3>


    <div class="form-field required additional-users select">
      <div class="field">
        <%= select_tag :additional_users, options_from_collection_for_select(@user_options, :first, :last) %>
      </div>
    </div>



    <div class="buttons">

      <%= submit_tag 'Continue' %>
      <%= link_to 'Back', dashboard_settings_users_path %>

    </div>

<% end %>