

<%= form_tag dashboard_settings_users_upgrade_summary_path, :method => :post do %>

    <h3 class="highlight">Summary</h3>

    <p>
      You are adding <%= pluralize @total_new_users, 'new user', 'new users' %> to your account at <%= number_to_currency @unit_price %> per user.
    </p>

    <p>
      <strong>Price for new users:</strong> <%= number_to_currency @total_cost %>
      <br>
      <strong>New total monthly cost:</strong> <%= number_to_currency((@agency.total_paid_users + @total_new_users) * @unit_price) %>
    </p>
    <p>
      <em>By clicking "Save Changes" below, you are authorizing a prorated charge of <%= number_to_currency @prorated_amount %> to be applied immediately to your credit card on file.</em>
    </p>

    <p>
      This change will be made to your account once you click the "Save Changes" button below.
    </p>

    <%= submit_tag 'Save Changes' %>

<% end %>