<% content_for :title do %>
    Data from Visit
<% end %>


<div class="visit-summary">
  <%= render 'shared/table_visits_read_only', :visits => [@visit], :mode => :both, :show_data => false %>
</div>

<%= render 'dashboard/shared/page_caption', :caption => 'Collected Data from Visit' %>


<div class="visit-data">

  <div class="visit-data-section patient-status">
    <div class="heading">
      Client Status
    </div>
    <table>
      <tbody>
      <% @visit.visits_patient_statuses.each do |item| %>
          <tr>
            <td class="label"><%= item.patient_status.label %></td>
            <td class="timestamp"><%= item.timestamp %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>


  <div class="visit-data-section caregiver-tasks">
    <div class="heading">
      Daily Activities
    </div>

    <table>
      <tbody>
      <% @visit.visits_daily_activities.each do |item| %>
          <tr>
            <td class="label"><%= item.agency_daily_activity.label %></td>
            <td class="timestamp"><%= item.timestamp %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>

  <div class="visit-data-section observations">
    <div class="heading">
      Observations
    </div>


    <table>
      <tbody>
      <% @visit.visits_observations.each do |item| %>
          <tr>
            <td class="label"><%= item.observation.label %></td>
            <td class="timestamp"><%= item.timestamp %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<%= render 'dashboard/shared/page_caption', :caption => 'Photos' %>

<%= render 'dashboard/shared/photos_grid', :photos => @visit.photos %>