<% content_for :sidebar_second do %>
    <p>This is the "Month" view of completed visits.</p>
    <p>Days with a "red dot" contain visits that <b>still need to be approved</b>.</p>
    <p>"Completed Visits" shows visits that are pending approval. Use the "view" link to see details about each visit.</p>
    <p>Click on the Pay Rate or Bill Rate to make edits to the dollar amounts associated with each visit.</p>
    <p>After approving a visit, use the Billing and Payroll page to create an invoice for your client or payroll reports for your employee.</p>
    <p>Use the menu on the left filter visits by day, week or month. </p>
<% end %>
<% content_for :page_caption do %>
    Completed Visits this Month
<% end %>

<script type="text/javascript">
    var calendarDays = <%= raw @days.to_json %>;
    var monthURL = "<%= request.path %>";
    var calendarCurrent = "<%= params[:day] %>";
    var earliestDate = "<%= @earliest_date_available.to_formatted_s :mysql_format %>";
    var endOfMonth = "<%= @end_of_month.to_formatted_s :mysql_format %>";
</script>

<div id="calendar-wrapper">
  <div id="calendar-inner">
    <div id="calendar">

    </div>
  </div>
</div>


<% if @current_visits %>
    <%=  render 'shared/table_visits_completed', :visits => @current_visits %>
<% end %>

