<div class="confirm-title" xmlns="http://www.w3.org/1999/html">
  <h1>Thank You For Signing Up</h1>
  <h2>Please Fill Out The Info Below To Complete Your Registration </h2>
</div>
<div class="left">
<h2>Primary User</h2>
<h3>(the primary user will have access to the online dashboard)</h3>
<%= form_for @user, :url => signup_setup_path, :method => :post do |f| %>


    <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <%= f.hidden_field :agency_id %>

    <div class="form-field">
      <div class="label">
        <%= f.label :first_name, 'First Name' %>
      </div>
      <div class="field">
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= f.label :last_name, 'Last Name' %>
      </div>
      <div class="field">
        <%= f.text_field :last_name %>
      </div>
    </div>


    <div class="form-field">
      <div class="label">
        <%= f.label :email, 'Email (Username)' %>
      </div>
      <div class="field">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= f.label :phone, 'Phone #' %>
      </div>
      <div class="field">
        <%= f.email_field :phone %>
      </div>
    </div>


    <div class="form-field">
      <div class="label">
        <%= f.label :password, 'Password' %>
      </div>
      <div class="field">
        <%= f.password_field :password %>
      </div>
    </div>


    <div class="form-field">
      <div class="label">
        <%= f.label :password_confirmation, 'Re-Type Password' %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>


      <div class="submit"> <%= f.submit 'Continue' %>  </div>

<% end %>
</div>
<div class="sign-up-image"><%= image_tag 'sign-up-img.png' %></div>
