<% content_for :title do %>
    Payroll Batches
<% end %>

<% content_for :sidebar_second do %>
    <p>Use the filters to find the batch or payroll report you are looking for.</p>
    <p>Click "re-export" to generate a copy of a batch. </p>
<% end  %>

<% content_for :page_top do %>

    <%= form_tag dashboard_reports_payroll_batches_search_path, :method => :post, :remote => true do %>

        <script type="text/javascript">
            $(function(){
                var options = {
                    showOn: "both",
                    buttonImage: '/assets/calendar-icon.png',
                    buttonImageOnly: true
                };

                $('input#batch_date').datepicker(options);
            });
        </script>

        <div class="filter-field field selector">
          <div class="label">
            <%= label_tag :filter_by, 'Filter by' %>
          </div>
          <div class="field-inside">
            <%= select_tag :filter_by, options_from_collection_for_select(@filter_options, :first, :last) %>
          </div>
        </div>

        <div class="filter-fields">

          <div class="filter-field field employee">
            <div class="label">
              <%= label_tag :employee_name, 'Employee' %>
            </div>
            <div class="field">
              <%= text_field_tag :employee_name, @employee_name, :placeholder => 'Search by name...' %>
            </div>
          </div>

          <div class="filter-field field invoice-number">
            <div class="label">
              <%= label_tag :batch_number, 'Batch #' %>
            </div>
            <div class="field">
              <%= text_field_tag :batch_number, @batch_number, :placeholder => '', :size => 6 %>
            </div>
          </div>

          <div class="filter-field field date">
            <div class="label">
              <%= label_tag :batch_date, 'Date' %>
            </div>
            <div class="field">
              <%= text_field_tag :batch_date, @batch_date, :placeholder => '', :size => 10 %>
            </div>
          </div>

          <div class="filter-field field status">
            <div class="label">
              <%= label_tag :batch_status, 'Status' %>
            </div>
            <div class="field">
              <%= select_tag :batch_status, options_from_collection_for_select(batch_statuses(true), :first, :last, @batch_status) %>
            </div>
          </div>


          <%= submit_tag 'Search' %>
        </div>

    <% end %>

<% end %>

<% content_for :page_caption do %>
    Batches
<% end %>

<%= render 'dashboard/reports/shared/payroll_batch_history', :batches => @batches %>
