<% content_for :title do %>
    Invoices
<% end %>

<% content_for :page_top do %>



    <%= form_tag dashboard_reports_billing_invoices_search_path, :method => :post, :remote => true do %>

        <script type="text/javascript">
            $(function(){
                var options = {
                    showOn: "both",
                    buttonImage: '/assets/calendar-icon.png',
                    buttonImageOnly: true
                };

                $('input#invoice_date').datepicker(options);
            });
        </script>

        <div class="filter-field field selector">
          <div class="label">
            <%= label_tag :filter_by, 'Filter by' %>
          </div>
          <div class="field-inside">
            <%= select_tag :filter_by, options_from_collection_for_select(@filter_options, :first, :last) %>
          </div>
        </div>

        <div class="filter-fields">

          <div class="filter-field field client">
            <div class="label">
              <%= label_tag :client_name, 'Client' %>
            </div>
            <div class="field">
              <%= text_field_tag :client_name, @client_name, :placeholder => 'Search by name...' %>
            </div>
          </div>

          <div class="filter-field field invoice-number">
            <div class="label">
              <%= label_tag :invoice_number, 'Invoice #' %>
            </div>
            <div class="field">
              <%= text_field_tag :invoice_number, @invoice_number, :placeholder => '', :size => 6 %>
            </div>
          </div>

          <div class="filter-field field date">
            <div class="label">
              <%= label_tag :invoice_date, 'Date' %>
            </div>
            <div class="field">
              <%= text_field_tag :invoice_date, @invoice_date, :placeholder => '', :size => 10 %>
            </div>
          </div>

          <div class="filter-field field status">
            <div class="label">
              <%= label_tag :invoice_status, 'Status' %>
            </div>
            <div class="field">
              <%= select_tag :invoice_status, options_from_collection_for_select(invoice_statuses(true), :first, :last, @invoice_status) %>
            </div>
          </div>


          <%= submit_tag 'Search' %>
        </div>

    <% end %>


<% end %>

<% content_for :page_caption do %>
    Invoices
<% end %>

<div class="invoices replaceable">
  <% unless @invoices.blank? or @invoices.empty? %>

      <%= render 'dashboard/reports/shared/invoices_table', :invoices => @invoices %>

  <% end %>
</div>
