<% content_for :title do %>
    <%= @care_recipient.full_name %>
<% end %>

<% content_for :page_caption do %>
    Visits History
<% end %>

<% unless @visits.empty? %>
    <table id="pending-visits">
      <thead>
      <tr>
        <th>Employee</th>
        <th>Pay Rate</th>
        <th>Bill Rate</th>
        <th>In</th>
        <th>Out</th>
        <th>Duration</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody>
      <% @visits.each do |visit| %>
          <tr class="visit-row">
            <td class="employee" rel="<%= visit.user_id %>">
              <%= visit.employee_label %>
            </td>
            <td class="payrate">
              <%= visit.pay_rate %>
            </td>
            <td class="billrate">
              <%= visit.bill_rate %>
            </td>
            <td class="in-time">
              <%= visit.in_time_formatted %>
            </td>
            <td class="out-time">
              <%= visit.out_time_formatted %>
            </td>
            <td class="duration">
              <%= visit.duration_string %>
            </td>
            <td class="location">
              <%= visit.location_label %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p>There are no visits in <%= @care_recipient.full_name %>'s history.</p>
<% end %>