<% unless invoices.empty? %>

    <%= javascript_include_tag 'dashboard/reports/invoices_table' %>


    <table class="invoices-table editable">
      <thead>
      <tr>
        <th><%= check_box_tag 'select_all', '', :id => 'select-all' %></th>
        <th>Client</th>
        <th>Invoice #</th>
        <th>Hours</th>
        <th>Total</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% invoices.each do |invoice| %>
          <tr class="invoice-row editable" data-id="<%= invoice.id %>">
            <td><%= check_box_tag 'export[]', invoice.id %></td>
            <td><%= invoice.care_recipient.full_name_last_first %></td>
            <td><%= invoice.invoice_number_formatted %></td>
            <td><%= invoice.total_hours_string %></td>
            <td><%= invoice.total_amount_formatted %></td>
            <td><%= invoice.status_formatted %></td>
            <td><%= link_to 'View/edit', dashboard_reports_billing_invoice_path(invoice) %>  | <%=  link_to 'Export', root_path %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>