<% unless invoices.empty? %>

    <table class="invoices-table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Invoice #</th>
        <th>Hours</th>
        <th>Total</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% invoices.each do |invoice| %>
          <tr class="invoice-row" data-id="<%= invoice.id %>">
            <td><%= invoice.invoice_date.to_formatted_s :mdy %></td>
            <td><%= invoice.care_recipient.full_name_last_first %></td>
            <td><%= invoice.invoice_number_formatted %></td>
            <td><%= invoice.total_hours_string %></td>
            <td><%= invoice.total_amount_formatted %></td>
            <td><%= select_tag :status, options_from_collection_for_select(invoice_statuses, :first, :last, invoice.status), 'data-id' => invoice.id %></td>
            <td><%=  link_to 'Re-export', dashboard_reports_billing_export_invoice_path(invoice) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>