<%
   classes = []
   classes << item.stream_type
   unless css_class.blank?
     classes << css_class
   end
%>
<div class="activity-stream-item <%= classes.join ' ' %>" data-id="<%= item.id %>">
  <div class="icon">

    <%= render 'shared/activity_stream_icon.html', :item => item %>
  </div>
  <h3>
    <% case item.stream_type.to_sym %>
    <% when :check_in %>
        <%= link_to item.user.full_name, dashboard_employee_path(item.user) %> checked in with <%= link_to item.care_recipient.full_name, dashboard_client_path(item.care_recipient) %>.
        <br>
        <%= link_to 'View visit data', dashboard_visit_path(item.visit) %>
    <% when :check_out %>
        <%= link_to item.user.full_name, dashboard_employee_path(item.user) %> checked out with <%= link_to item.care_recipient.full_name, dashboard_client_path(item.care_recipient) %>.
        <br>
        <%= link_to 'View visit data', dashboard_visit_path(item.visit) %>
    <% when :data %>
        <%= link_to item.user.full_name, dashboard_employee_path(item.user) %> added <%= link_to 'data', dashboard_visit_path(item.visit) %> for <%= link_to item.care_recipient.full_name, dashboard_client_path(item.care_recipient) %>
    <% when :photo %>
        <%= link_to item.user.full_name, dashboard_employee_path(item.user) %> added <%= link_to 'photo', dashboard_visit_path(item.visit) %> for <%= link_to item.care_recipient.full_name, dashboard_client_path(item.care_recipient) %>
    <% else %>
        n/a
    <% end %>
  </h3>

  <div class="time"><%=  time_ago_in_words item.created_at %> ago</div>
</div>