<%
   classes = []

   classes << 'approved' if visit.approved

   show_approve = false unless defined? show_approve


%>
<tr class="visit-row editable <%= classes.join ' ' %>" data-type="<%= type %>" date-remote="true" data-id="<%= visit.id %>">
  <td class="date">
    <%= visit.date_only_formatted %>
  </td>
  <td class="employee" rel="<%= visit.user_id %>">
    <%= visit.employee_label %>
  </td>
  <td class="payrate">
    <%= visit.pay_rate_formatted %>
  </td>
  <td class="client" rel="<%= visit.care_recipient_id %>">
    <%= visit.client_label %>
  </td>
  <td class="billrate">
    <%= visit.bill_rate_formatted %>
  </td>

  <% if type == :completed or type == 'completed' %>
      <td class="in-out-time">
        <%= visit.time_only_string %><br>(<%= visit.duration_string %>)

        <%= visit.auto_checked_out? %>

      </td>
  <% else %>
      <td class="in-time">
        <%= visit.in_time_time_only %>
      </td>
  <% end %>
  <td class="location">
    <%= visit.location_label %>
  </td>
  <td class="data">
    <%= link_to 'view', dashboard_visit_path(visit) %>
  </td>
  <% if show_approve %>
      <td class="approve">
        <% unless visit.approved? %>
            <%= check_box_tag :approve, '1', false, :class => 'approve' %>
        <% else %>
            <em>approved</em>
        <% end %>
      </td>
  <% end %>
</tr>