<%
   classes = []
   classes << item.stream_type
   unless css_class.blank?
     classes << css_class
   end
   %>
<div class="activity-stream-item <%= classes.join ' ' %>" data-id="<%= item.id %>">
  <div class="icon">
  <%= render 'shared/activity_stream_icon.html.erb', :item => item %>
  </div>
  <h3><%= item.label %></h3>

  <div class="time"><%=  time_ago_in_words item.created_at %> ago</div>
</div>