<tr class="employee-row">
  <td class="name">
    <%= employee.full_name_last_first %>
  </td>
  <td>
    <%= link_to 'Profile', dashboard_employees_profile_path(employee), :class => 'link-button' %>
  </td>
  <td>
    <%= link_to 'Clients', dashboard_employees_clients_path(employee), :class => 'link-button' %>
  </td>
  <td>
    <%= link_to 'Visits', dashboard_employees_visits_path(employee), :class => 'link-button' %>
  </td>
  <td>
    <%= link_to 'Payroll', dashboard_employees_payroll_path(employee), :class => 'link-button' %>
  </td>
</tr>