<div class="contact-title"><h1><p class="first">Contact Us</p> <p class="second"><%= BoomrDashboard::Application.config.boomr_phone %> // 1879 Lundy Ave, #186, San Jose, CA 95131</p></h1></div>

<%= form_for @contact_submission, :url => contact_path, :method => :post do |f| %>

    <div class="form-field">
      <div class="label">
        <%= f.label :name, 'Name' %>
      </div>
      <div class="field">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= f.label :agency_name, 'Agency Name' %>
      </div>
      <div class="field">
        <%= f.text_field :agency_name %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= f.label :email, 'Email Address' %>
      </div>
      <div class="field">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= f.label :message, 'Message' %>
      </div>
      <div class="field">
        <%= f.text_area :message %>
      </div>
    </div>


    <div class="sign-up-image"> <%= f.submit 'Send Message' %> </div>
<% end %>