<%= form_for @agency, :url => admin2_agency_index_path, :html => {  } do |f| %>

    <%= render 'dashboard/shared/page_caption', :caption => 'Agency Info' %>


    <div class="form-field required">
      <div class="label">
        <%= f.label :name %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= f.text_field :name, :size => 30 %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= f.label :email %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= f.email_field :email, :size => 30 %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= f.label :website %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= f.url_field :website, :size => 30 %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= f.label :phone %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= f.phone_field :phone, :size => 30 %>
      </div>
    </div>

    <%= render 'dashboard/shared/address_form' %>

    <div class="form-field required">
      <div class="label">
        <%= f.label :logo %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= f.file_field :logo %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= f.label :allowed_users %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= f.number_field :allowed_users, :size => 5, :value => 3 %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= f.label :free_users %> <span class="required">*</span>
      </div>
      <div class="field">
        <%= f.number_field :free_users, :size => 5, :value => 3 %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= f.label :per_user_price_override %> <span class="required">*</span>
      </div>
      <div class="field">
        $ <%= f.number_field :per_user_price_override, :size => 5, :value => BoomrDashboard::Application.config.per_user_price %> USD
      </div>
    </div>


    <%= render 'dashboard/shared/page_caption', :caption => 'Primary User' %>

    <%= fields_for @user do |u| %>

        <div class="form-field required">
          <div class="label">
            <%= u.label :first_name %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= u.text_field :first_name, :size => 30 %>
          </div>
        </div>

        <div class="form-field required">
          <div class="label">
            <%= u.label :last_name %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= u.text_field :last_name, :size => 30 %>
          </div>
        </div>

        <div class="form-field required">
          <div class="label">
            <%= u.label :email %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= u.text_field :email, :size => 30 %>
          </div>
        </div>

        <div class="form-field required">
          <div class="label">
            <%= u.label :phone %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= u.text_field :phone, :size => 30 %>
          </div>
        </div>


        <div class="form-field required">
          <div class="label">
            <%= u.label :password %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= u.password_field :password, :size => 20 %>
          </div>
        </div>

        <div class="form-field required">
          <div class="label">
            <%= u.label :password_confirmation %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= u.password_field :password_confirmation, :size => 20 %>
          </div>
        </div>


        <% end %>


    <%= render 'dashboard/shared/page_caption', :caption => 'Billing Details' %>


    <div class="form-field required">
      <div class="label">
        <%= label_tag 'credit_card[number]', 'Credit Card Number' %>
      </div>
      <div class="field">
        <%= text_field_tag 'credit_card[number]' %>
      </div>
    </div>

    <div class="form-field required">
      <div class="label">
        <%= label_tag 'credit_card[cardholder_name]', 'Name on Card' %>
      </div>
      <div class="field">
        <%= text_field_tag 'credit_card[cardholder_name]'  %>
      </div>
    </div>

    <div class="form-field expiration required">
      <div class="label">
        <%= label_tag 'credit_card[expiration_month]', 'Expiration' %>
      </div>
      <div class="field">
        <%= select_month Date.today %>
        <%= select_year  Date.today, :start_year => Date.today.year  %>
      </div>
    </div>

    <%= render 'dashboard/shared/page_caption', :caption => 'Billing Address' %>

    <div class="address">


      <div class="row">

      <div class="form-field required">
        <div class="label">
          <%= label_tag 'credit_card[billing_address][street_address]', 'Address' %>
        </div>
        <div class="field">
          <%= text_field_tag 'credit_card[billing_address][street_address]' %>
        </div>
      </div>

      <div class="form-field required">
        <div class="label">
          <%= label_tag 'credit_card[billing_address][extended_address]', 'Address Line 2' %>
        </div>
        <div class="field">
          <%= text_field_tag 'credit_card[billing_address][extended_address]' %>
        </div>
      </div>
      </div>

      <div class="row">

      <div class="form-field required">
        <div class="label">
          <%= label_tag 'credit_card[billing_address][locality]', 'City' %>
        </div>
        <div class="field">
          <%= text_field_tag 'credit_card[billing_address][locality]' %>
        </div>
      </div>

      <div class="form-field required">
        <div class="label">
          <%= label_tag 'credit_card[billing_address][region]', 'State/Province' %>
        </div>
        <div class="field">
          <%= text_field_tag 'credit_card[billing_address][region]', '', :maxlength => 3, :size => 3 %>
        </div>
      </div>

      <div class="form-field required">
        <div class="label">
          <%= label_tag 'credit_card[billing_address][postal_code]', 'Postal Code' %>
        </div>
        <div class="field">
          <%= text_field_tag 'credit_card[billing_address][postal_code]' %>
        </div>
      </div>

      </div>


    </div>


    <%= f.submit 'Save' %>

<% end %>