<% content_for :title do %>
    Billing
<% end %>



<% content_for :page_top do %>

    <%= javascript_include_tag 'dashboard/reports/new_batch' %>
    <%= form_tag dashboard_reports_billing_batches_path, :method => :post, :id => 'billing-batch-form', :class=>'new-batch-form' do %>

        <div class="form-field">
          <div class="label">
            <%= label_tag :start, 'Start Date' %>
          </div>
          <div class="field">
            <%= text_field_tag :start, @start.to_formatted_s(:mdy), :size => 10 %>
          </div>
        </div>

        <div class="form-field">
          <div class="label">
            <%= label_tag :start, 'End Date' %>
          </div>
          <div class="field">
            <%= text_field_tag :stop, @stop.to_formatted_s(:mdy), :size => 10 %>
          </div>
        </div>

        <div class="form-field">
          <div class="label">
            &nbsp;
          </div>
          <div class="field">
            <%= submit_tag 'Create Invoices' %>
          </div>
        </div>
    <% end %>
<% end %>

<% unless @invoices.blank? or @invoices.empty? %>
    <h2>Invoices</h2>

    <%= render 'dashboard/reports/shared/billing_batch_history', :batches => @invoices %>

<% end %>
