<h1>Billing Batches</h1>


<h2>Create a New Batch</h2>



<%= form_tag dashboard_reports_billing_batches_path, :method => :post, :id => 'billing-batch-form' do %>

    <h3>Select the time period you would like to bill for</h3>

    <div class="date-range">
      Start date: <%= text_field_tag :start, @start.to_formatted_s(:mdy), :size => 10 %>
      &nbsp;
      End date: <%= text_field_tag :stop, @stop.to_formatted_s(:mdy), :size => 10 %>
    </div>

    <%= submit_tag 'Create Batch' %>
<% end %>

<h2>Batch History</h2>

<%= render 'dashboard/shared/batch_history', :batches => @batches %>
