
<h3>Billing Report</h3>


<div class="batch-summary">
  <h3>Batch Number: <%=  @batch.batch_number %></h3>
  <div class="dates">
    From <%= @batch.period_start.to_formatted_s(:mdy) %> to <%= @batch.period_end.to_formatted_s(:mdy) %>
  </div>

  <div class="actions">
    <%= link_to 'Delete', dashboard_reports_billing_batch_path(@batch), :method => :delete, :confirm => 'Are you sure you want to delete this batch?' %>
  </div>

</div>

<table>
  <thead>
  <tr>
    <td>Client Name</td>
    <td>Total Hours</td>
    <td>Rate</td>
    <td>Adjustments</td>
    <td>Total</td>
    <td>Edit/Freeze/Delete</td>
  </tr>
  </thead>
  <% @batch.billing_line_items.each do |item|
    client = item.care_recipient
  %>
    <tr>
      <td><%= client.full_name %></td>
      <td><%= item.hours %></td>
      <td><%= item.bill_rate_formatted %></td>
      <td><%= item.adjustments_formatted %></td>
      <td><%= item.total_formatted %></td>
      <td><%= 'n/a' %></td>

    </tr>
  <% end %>
</table>


<hr />

<h3>History</h3>


<%= render 'dashboard/reports/shared/billing_batch_history', :batches => @batches %>
