<%= fields_for @location do |l| %>
    <div class="form-address">

      <div class="street">
        <div class="form-field required">
          <div class="label">
            <%= l.label :street, 'Street Address' %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= l.text_field :street %>
          </div>
        </div>
      </div>

      <div class="csz">
        <div class="form-field city required">
          <div class="label">
            <%= l.label :city %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= l.text_field :city %>
          </div>
        </div>
        <div class="form-field state required">
          <div class="label">
            <%= l.label :state %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= l.text_field :state %>
          </div>
        </div>
        <div class="form-field zip required">
          <div class="label">
            <%= l.label :zip %> <span class="required">*</span>
          </div>
          <div class="field">
            <%= l.text_field :zip %>
          </div>
        </div>
      </div>

    </div>
<% end %>