<% unless photos.empty?
     row = 1
   rel="photo-group"
%>
    <div class="photos-grid thumbnails">
      <% photos.each_with_index do |photo, index| %>

          <div class="photos-grid-item item-<%=index %> <%= cycle('even', 'odd')%>" data-id="<%= photo.id %>">
            <div class="photos-grid-item-inner">
              <div class="photo">
                <%= link_to photo.photo.url, :class => 'colorbox-photo ' + rel, :alt => photo.timestamp do %>
                    <%= image_tag photo.photo.url(:profile) %>
                <% end %>
              </div>
              <div class="timestamp">
                <%= photo.timestamp %>
              </div>
            </div>
          </div>

      <% end %>
    </div>

    <%= javascript_include_tag 'jquery.colorbox' %>
    <%= stylesheet_link_tag 'colorbox' %>
    <script type="text/javascript">
        $(document).ready(function(){

            if ($('.colorbox-photo').length > 0)
              $('.colorbox-photo').colorbox({rel: "<%= rel %>", transition:"fade"});

          });
    </script>

<% end %>