<% content_for :title do %>
    Users
<% end %>

<% content_for :sidebar_second do %>
    <p>Edit or remove users here. You may also freeze an account or reset a password. </p>
    <p>If a user has not checked-in in the last 30 days, their account is automatically flagged on this page for review.</p>
<% end %>

<% content_for :page_top do %>
<%= render 'shared/agency_user_count' %>
    <% end %>

<table>
  <thead>
  <tr>
    <th>Employee Name</th>
    <th>Last Check-In</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @agency.caregivers.each do |caregiver| %>
      <tr>
        <td><%= link_to caregiver.full_name, dashboard_employee_path(caregiver) %></td>
        <td><%= caregiver.last_check_in_formatted %></td>
        <td><%= link_to 'Delete', dashboard_employees_delete_path(caregiver, :destination => request.fullpath), :class => 'link-button' %></td>
        <td><%= render 'dashboard/shared/employee_freeze_link', :employee => caregiver %></td>
        <td><%= link_to 'Reset Password', dashboard_employees_reset_password_path(caregiver, :destination => request.fullpath), :class => 'link-button' %></td>
      </tr>
  <% end %>
  </tbody>
</table>