<% content_for :title do %>
    Agency
<% end %>

<% content_for :sidebar_second do %>
    <p>Use this page to update information about your agency, including payment information.</p>
    <p>You may also purchase additional users from this page. </p>
<% end %>

<%= form_for @agency, :url => dashboard_settings_agency_path, :method => :post do |f| %>


    <div class="form-field">
      <div class="label">
        <%= f.label :name, 'Agency Name' %>
      </div>
      <div class="field">
        <%= f.text_field :name, :size => 20 %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= label_tag 'Account Number' %>
      </div>
      <div class="field">
        <%= label_tag @agency.account_number %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= label_tag 'Users' %>
      </div>
      <div class="field">
        <%= label_tag @agency.allowed_users %>       <%#=  render 'shared/agency_subscription_link' %>
      </div>
    </div>

    <div class="form-field">
      <div class="label">
        <%= label_tag 'Billing Info' %>
      </div>
      <div class="field">
        <% if @agency.next_billing_date.blank? %>

            You do not have a billing method set up.

        <% else  %>

            Your next monthly bill will be on <%= @agency.next_billing_date.to_formatted_s :mdy %>.

        <% end %>
      </div>
    </div>


    <%= render 'dashboard/settings/shared/credit_cards_on_file', :credit_cards => @credit_cards %>



    <%= f.submit 'Save settings' %>

<% end %>