
<% content_for :page_caption do %>
    Choose a Subscription
<% end %>

<%= form_tag dashboard_settings_agency_subscription_path, :method => :post do %>

    <table>
      <thead>
      <tr>
        <th>Subscription Level</th>
        <th>Users Allowed</th>
        <th>Monthly Fee</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @subscription_tiers.each do |tier| %>
          <%
             if tier.is_higher_level_than? @agency.subscription_tier
               subscription_class = :higher
             elsif tier.is_lower_level_than? @agency.subscription_tier
               subscription_class = :lower
             else
               subscription_class = :current
             end

          %>
          <tr class="<%= subscription_class.to_s %>">
            <td><%= tier.label %></td>
            <td><%= tier.max_users %></td>
            <td><%= tier.monthly_fee_formatted %></td>
            <td>
              <% if subscription_class == :higher %>
                  <%= link_to 'Upgrade', dashboard_settings_agency_subscription_change_path(tier), :class => 'link-button' %>
              <% elsif subscription_class == :lower %>
                  <%= link_to 'Downgrade', dashboard_settings_agency_subscription_change_path(tier), :class => 'link-button' %>
              <% else #same %>
                  <em>Current subscription</em>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>



<% end %>