<% content_for :page_caption do %>
    Invoices
<% end %>
<table id="invoices">
  <thead>
  <tr>
    <th>Invoice #</th>
    <th>Invoice Date</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @invoices.each do |a| %>
      <tr>
        <td><%= a.invoice_number_formatted %></td>
        <td><%= a.invoice_date_formatted %></td>
        <td><%= number_to_currency a.total %></td>
        <td><%= a.status_formatted %></td>
        <td>
          <%= a.due_date_formatted %>
          <% if !a.paid? and a.auto_charge? %>
              (Auto charge on <%= a.auto_billing_date_formatted %>)
          <% end %>
        </td>
        <td>
          <%= link_to 'View', dashboard_settings_invoice_path(a), :class => 'link-button' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>