<!DOCTYPE html>
<html>
<head>
  <title>Boomr</title>
  <%= stylesheet_link_tag    "front_end/application", :media => "all" %>
  <%= javascript_include_tag "front_end/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class %>">

<div id="page">

  <div id="header">
      <%= link_to root_path do %>
          <%= image_tag 'logo-top.png', :alt => 'Boomr Health Care' %>
      <% end %>
      <%= yield :headerInner %>

      <ul class="nav nav-pills pull-right" xmlns="http://www.w3.org/1999/html">
        <li class="first"><%= link_to "Log In", new_user_session_path %></li>
        <li class="last"><%= link_to "Sign Up", signup_path %></li>
      </ul>


  </div>
  <div id="menu">
    <%= yield :menu %>
    <div class="main-menu">
      <ul class="main-menu-inner">
        <li class="first"><%= link_to "Home", root_path %></li>
        <li class="second"><%= link_to "Software Features", features_path %></li>
        <li class="third"><%= link_to "Why Use Boomr", benefits_path %></li>
        <li class="fourth"><%= link_to "Pricing", pricing_path %></li>
        <li class="last"><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
  <div id="banner">
    <%= yield :banner %>
    <div id="banner-inner">
      <%= yield :bannerInner %>
    </div>
  </div>
  <div id="jumbo-outer">
    <div id="content">
        <%= yield %>

    </div>
  </div>

  <div id="content-bottom">
    <%= yield :contentBottom %>
  </div>

  <div id="footer">
      <%= yield :footerInner%>
      <div class="footer-items">

        <div class="span3">
          <ul>
            <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Mobile Apps", apps_path %></li>
          </ul>
        </div>

        <div class="span3">
          <ul>
            <li><%= link_to "Like Us on Facebook", "https://www.facebook.com/BoomrHealth", :target => '_blank' %></li>
            <li><%= link_to "Follow Us on Twitter", "https://twitter.com/BoomrHealth", :target => '_blank' %></li>
            <li><%= link_to "Email Us", contact_path %></li>
          </ul>
        </div>

        <div class="span3">
          <ul>
            <li><%= link_to "Terms of Service / Privacy", terms_path %></li>
            <li><%= link_to "Sign Up or Log In", new_user_session_path %></li>
          </ul>
        </div>

        <div class="span3">
          <div class="span3icon">
            <%= link_to root_path do %>
                <%= image_tag 'logo-bottom.png' %>
            <% end %></div>

        </div>


      </div>
      <p>Copyright &copy; 2013, Boomr Healthcare, Inc. All rights reserved.</p>

  </div>



</div>



</body>
</html>
