<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <title>Boomr Web Portal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modernizr-2.6.2.min" %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-bar">
  <% unless current_user.nil? or current_user.agency.nil? %>
      You are signed in to <%= current_user.agency.name %>.
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>

<div id="page">
  <div id="page-inner">
    <div id="header" class="">
      <div id="header-inner">
        <%= render 'layouts/header' %>
      </div>
    </div>

    <div id="main" class="">
      <div id="main-inner">

        <div id="navigation">



          <%= render 'layouts/dashboard_top_menu' %>
        </div>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>


        <div id="sidebar-first" class="sidebar">
          <div id="sidebar-first-inner" class="sidebar-inner">
            <%= render 'layouts/dashboard_sidebar_menu' %>
          </div>
        </div>

        <div id="content">
          <div id="content-inner">

            <%= render 'shared/breadcrumb' %>

            <%= yield %>
          </div>
        </div>

      </div>
    </div>

    <div id="footer" class="">
      <div id="footer-inner">
      </div>
    </div>


    <%= render 'layouts/copyright' %>

    <%=  render 'layouts/tracking' %>


  </div>
</div>


</body>
</html>
