<%

   body_classes = []


   body_classes.push (controller_name == 'dashboard') ? 'dashboard-main' : controller_name

   body_classes.push action_name

   body_classes.push 'with-sidebar-second' if content_for? :sidebar_second


   title_components = []
   unless @page_title.blank?
     title_components << @page_title
   end
   unless @agency.blank?
     title_components << @agency.name
   end
   title_components << 'Boomr'

   @title_tag = title_components.join ' | '

%>
<!DOCTYPE html>
<head>

  <meta charset="utf-8">

  <title><%= @title_tag %></title>


  <%= wicked_pdf_stylesheet_link_tag    "dashboard/application", :media => "all" %>

</head>
<body class="dashboard pdf">

<div id="page">
  <div id="page-inner">
    <%= render 'layouts/header' %>

    <div id="main" class="">
      <div id="main-inner">


        <% if content_for?(:title) or not @page_title.blank? or content_for?(:page_top) %>
            <div class="title-wrapper">
              <div class="title-wrapper-inner">
                <% if content_for?(:title) %>
                    <h1 class="title"><%= yield :title %></h1>
                <% elsif not @page_title.blank? %>
                    <h1 class="title"><%= @page_title %></h1>
                <% end %>

                <% if content_for? :page_top %>
                    <div id="page-top">
                      <div id="page-top-inner">
                        <%= yield :page_top %>
                      </div>
                    </div>
                <% end %>

              </div>
            </div>
        <% end %>


        <%= yield %>

      </div>


    </div>
  </div>


</div>


<%#= render 'layouts/copyright.html' %>


</body>
</html>
